# PostgreSQL Database connection
DATABASE_URL="postgresql://user:password@localhost:5432/ceciz?schema=public"

# Better Auth Configuration
BETTER_AUTH_SECRET="your-secret-key-min-32-chars"
BETTER_AUTH_URL="http://localhost:3005"
